@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  .card {
    @include m.flexbox($direction: column, $align: flex-start, $gap: f.rem(0));
    position: relative;
    border: solid thin var(--shadow-color-100);
    border-radius: f.rem(6);
    padding-top: f.rem(200);
    width: f.rem(320);
    overflow: hidden;

    &--horizontal {
      @include m.flexbox($direction: row, $align: flex-start, $gap: f.rem(0));
      width: 100%;
      padding-top: 0;
      padding-left: f.rem(200);
      height: f.rem(200);

      .card__img {
        width: f.rem(200);
        object-fit: cover;
      }
    }

    &--full {
      .card__img {
        height: 100%;
        z-index: -1;
        &::after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(
            to bottom,
            transparent,
            var(--body-bg-color)
          );
        }
      }
    }

    &__body {
      padding: f.rem(20);
    }
    &__desc {
      font-weight: 400;
      line-height: f.rem(24);
    }
    &__img {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: f.rem(200);
    }
    &__title {
      margin: 0;
      font-weight: 600;
      font-size: f.rem(20);
    }
  }
}
